.container {
	margin-bottom: 20px;
}
.select_or_input {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	row-gap: 5px;
}
.select_or_input select {
	font-size: 15px;
}
.select_or_input input {
	font-size: 15px;
}
.select_or_input textarea {
	font-size: 15px;
	max-width: 100%;
}
.select_or_input textarea,
input[type="number"] {
	padding-left: 4px;
}
.parameter_name {
	font-size: 20px;
	margin-bottom: 5px;
}